<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Laporan Bulanan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #333;
            margin: 0 40px;
        }

        h1,
        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
        }

        table,
        th,
        td {
            border: 1px solid #888;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        .summary {
            margin-top: 1.5rem;
        }
    </style>
</head>

<body>
    <h1>Laporan {{ status?.charAt(0).toUpperCase() + status?.slice(1) }}</h1>
    <h2>
        {{ bulanDipilih 
            ? (tahunDipilih 
                ? 'Bulan ' + formatMonth(bulanDipilih) + ' Tahun ' + tahunDipilih 
                : 'Bulan ' + formatMonth(bulanDipilih)) 
            : (tahunDipilih 
                ? 'Tahun ' + tahunDipilih 
                : 'Semua Data') 
        }}
      </h2>
    <div class="summary">
        <p><strong>Total pasien:</strong> {{ totalPasienSekarang }}</p>
        <p><strong>Total kunjungan </strong> {{ totalKunjunganSekarang }}</p>
        <p><strong>Total pengingat yang dikirim ke Pasien:</strong> {{ totalPesanTerkirimSekarang }}</p>
        @if(status == 'semua')         
        @else
        <p><strong>Pertumbuhan pasien:</strong> {{ pertumbuhanPasien }}%</p>
        <p><strong>Pertumbuhan kunjungan:</strong> {{ pertumbuhanKunjungan }}%</p>
        <p><strong>Pertumbuhan pengingat yang dikirim:</strong> {{ pertumbuhanPesan }}%</p>
        @end
    </div>

    <h3>Data Pasien</h3>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>NIK</th>
                <th>Nama</th>
                <th>Jenis Penyakit</th>
            </tr>
        </thead>
        <tbody>
            @each((pasien, index) in dataPasien)
            <tr>
                <td>{{ index+1 }}</td>
                <td>{{ pasien.nik}} </td>
                <td>{{ pasien.name}} </td>
                <td>{{ pasien.jenisPenyakit.nama }}</td>
            </tr>
            @endeach
        </tbody>
    </table>

    <h3>Data Kunjungan</h3>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Pasien</th>
                <th>Dokter</th>
                <th>Tanggal</th>
            </tr>
        </thead>
        <tbody>
            @each((kunjungan, index) in dataKunjungan)
            <tr>
                <td>{{ index+1 }}</td>
                <td>{{ kunjungan.pasien.name}} </td>
                <td>{{ kunjungan.dokter.nama }}</td>
                <td>{{ formatDate(kunjungan.tanggalKunjungan) }}</td>
            </tr>
            @endeach
        </tbody>
    </table>

    <footer style="text-align: center; margin-top: 2rem;">
        <p>Dibuat di {{ DateTime.now().setLocale('id').toFormat('dd LLL yyyy HH:mm') }}</p>
    </footer>
</body>

</html>