<div class="col-md-4">
  <form id="searchForm" action="#" method="GET">
    <div class="input-group">
      <input type="text" name="search" id="searchInput" class="form-control" placeholder="Cari penyakit...">
      <button type="submit" class="input-group-text">
        <i class="flaticon-381-search-2"></i>
      </button>
    </div>
  </form>
</div>
