<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="robots" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CareBlast : Peduli kesemua kalangan masyrakat">
  <meta property="og:title" content="CareBlast : Peduli kesemua kalangan masyrakat">
  <meta property="og:description" content="CareBlast : Peduli kesemua kalangan masyrakat">
  <meta name="format-detection" content="telephone=no">
  <meta name="csrf-token" content="{{ csrfToken }}">


  <!-- PAGE TITLE HERE -->
  <title>{{ title }} | BlastCare</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>

  <!-- Form step -->
  <link href="{{ asset('vendor/jquery-smartwizard/dist/css/smart_wizard.min.css') }}" rel="stylesheet">
  <!-- FAVICONS ICON -->
  <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">

  <link href="{{ asset('vendor/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('vendor/select2/css/select2.min.css') }}">

  <link href="{{ asset('vendor/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
  <!-- Daterange picker -->
  <link href="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
  <!-- Clockpicker -->
  <link href="{{ asset('vendor/clockpicker/css/bootstrap-clockpicker.min.css') }}" rel="stylesheet">
  <!-- asColorpicker -->
  <link href="{{ asset('vendor/jquery-asColorPicker/css/asColorPicker.min.css') }}" rel="stylesheet">
  <!-- Material color picker -->
  <link href="{{ asset('vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}"
    rel="stylesheet">
  <!-- Pick date -->
  <link rel="stylesheet" href="{{ asset('vendor/pickadate/themes/default.css') }}">

  <link rel="stylesheet" href="{{ asset('vendor/pickadate/themes/default.date.css') }}">
  {{--
  <link href="{{ asset('../icon.css?family=Material+Icons') }}" rel="stylesheet"> --}}
  <!-- Sweet Alert -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
  {{--
  <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet"> --}}
  <!-- Style css -->
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  {{-- qr code configuration --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Toastr -->
  <link rel="stylesheet" href="{{ asset('vendor/toastr/css/toastr.min.css') }}">

  @if($slots.styles)
  {{{ await $slots.styles() }}}
  @endif

</head>

<body>

  <!--*******************
        Preloader start
    ********************-->
  <div id="preloader">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>

  <!--**********************************
        Main wrapper start
    ***********************************-->
  <div id="main-wrapper">
    @include('components/partials/header')
    @include('components/partials/sidebar')
    <div class="content-body">
      {{{ await $slots.content() }}}
    </div>
    @include('components/partials/footer')
  </div>

  <!--**********************************
        Scripts
    ***********************************-->
  <!-- Required vendors -->
  <script src="{{ asset('vendor/global/global.min.js') }}"></script>
  <script src="{{ asset('vendor/chart.js/Chart.bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js') }}"></script>

  <!-- Apex Chart -->
  <script src="{{ asset('vendor/apexchart/apexchart.js') }}"></script>

  <script src="{{ asset('vendor/chart.js/Chart.bundle.min.js') }}"></script>

  <!-- Chart piety plugin files -->
  <script src="{{ asset('vendor/peity/jquery.peity.min.js') }}"></script>
  <!-- Dashboard 1 -->
  <script src="{{ asset('js/dashboard/dashboard-1.js') }}"></script>
  <script src="{{ asset('vendor/owl-carousel/owl.carousel.js') }}"></script>

  <!-- Sweet Alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
  {{--
  <script src="{{ asset('vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script> --}}
  <script src="{{ asset('js/plugins-init/sweetalert.init.js') }}"></script>

  <!-- Form Steps -->
  <script src="{{ asset('vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js') }}"></script>
  <script src="{{ asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js') }}"></script>

  <script src="{{ asset('js/custom.min.js') }}"></script>
  <script src="{{ asset('js/dlabnav-init.js') }}"></script>
  <script src="{{ asset('js/demo.js') }}"></script>
  <script src="{{ asset('js/styleSwitcher.js') }}"></script>

  <!-- Daterangepicker -->
  <!-- momment js is must -->
  <script src="{{ asset('vendor/moment/moment.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <!-- clockpicker -->
  <script src="{{ asset('vendor/clockpicker/js/bootstrap-clockpicker.min.js') }}"></script>
  <!-- asColorPicker -->
  <script src="{{ asset('vendor/jquery-asColor/jquery-asColor.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery-asGradient/jquery-asGradient.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js') }}"></script>
  <!-- Material color picker -->
  <script
    src="{{ asset('vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
  <!-- pickdate -->
  <script src="{{ asset('vendor/pickadate/picker.js') }}"></script>
  <script src="{{ asset('vendor/pickadate/picker.time.js') }}"></script>
  <script src="{{ asset('vendor/pickadate/picker.date.js') }}"></script>
  <!-- Daterangepicker -->
  <script src="{{ asset('js/plugins-init/bs-daterange-picker-init.js') }}"></script>
  <!-- Clockpicker init -->
  <script src="{{ asset('js/plugins-init/clock-picker-init.js') }}"></script>
  <!-- asColorPicker init -->
  <script src="{{ asset('js/plugins-init/jquery-asColorPicker.init.js') }}"></script>
  <!-- Material color picker init -->
  <script src="{{ asset('js/plugins-init/material-date-picker-init.js') }}"></script>
  <!-- Pickdate -->
  <script src="{{ asset('js/plugins-init/pickadate-init.js') }}"></script>
  <script src="{{ asset('vendor/ckeditor/ckeditor.js') }}"></script>
  <script src="{{ asset('vendor/select2/js/select2.full.min.js') }}"></script>
  <script src="{{ asset('js/plugins-init/select2-init.js') }}"></script>
  {{-- toast --}}
  <script src="vendor/toastr/js/toastr.min.js"></script>
  <script src="{{asset('js/custom.js')}}"></script>

  <script>
    $(document).ready(function () {
      // SmartWizard initialize
      $('#smartwizard').smartWizard();
    });
  </script>
  <script>
    function cardsCenter() {

      /*  testimonial one function by = owl.carousel.js */
      jQuery('.card-slider').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        //center:true,
        slideSpeed: 3000,
        paginationSpeed: 3000,
        dots: true,
        navText: ['<i class="fas fa-arrow-left"></i>', '<i class="fas fa-arrow-right"></i>'],
        responsive: {
          0: {
            items: 1
          },
          576: {
            items: 1
          },
          800: {
            items: 1
          },
          991: {
            items: 1
          },
          1200: {
            items: 1
          },
          1600: {
            items: 1
          }
        }
      })
    }

    jQuery(window).on('load', function () {
      setTimeout(function () {
        cardsCenter();
      }, 1000);
    });

  </script>

  <script>
    const Toast = Swal.mixin({
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
  </script>

  @if(flashMessages.get('success'))
  <script>
    console.log('test');
    document.addEventListener('DOMContentLoaded', function () {
      Toast.fire({
        showCloseButton: true,
        showConfirmButton: false,
        position: "top-end",
        toast: true,
        title: 'Berhasil! {{ flashMessages.get('success') }}',
        icon: "success",
      });
    });
  </script>
  @end

  @if(flashMessages.get('error'))
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Toast.fire({
        showCloseButton: false,
        showConfirmButton: true,
        toast: false,
        title: 'Gagal!',
        text: '{{ flashMessages.get('error') }}',
        icon: "error",
      });
    });
  </script>
  @end

  @if($slots.scripts)
  {{{ await $slots.scripts() }}}
  @endif

  <script>

    function logoutBtn(buttonId) {
      const logoutButton = document.getElementById(buttonId)
      logoutButton.addEventListener('click', function (event) {
        event.preventDefault()

        Swal.fire({
          title: 'Konfirmasi Logout',
          text: 'Apakah Anda yakin ingin logout?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Logout',
          cancelButtonText: 'Batal',
        }).then(async (result) => {
          if (result.isConfirmed) {
            // Kirim permintaan logout ke server
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

            const response = await fetch('/logout', {
              method: 'POST',
              headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken, // Kirim CSRF token
              },
            })

            const result = await response.json()

            if (result.status === 'success') {
              Swal.fire({
                title: 'Logout Berhasil!',
                text: 'Anda akan diarahkan ke halaman login...',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false,
              }).then(() => {
                window.location.href = result.redirectUrl
              })
            }
          }
        })
      })
    }

    document.addEventListener('DOMContentLoaded', function () {
      // Inisialisasi tombol logout
      logoutBtn('logoutButton')
      logoutBtn('logoutButton2')
    })
  </script>

</body>

</html>