<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrfToken }}">
  <title>Login BlastCare</title>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="{{ asset('css/auth.css') }}" rel="stylesheet">
  <style>
    html,
    body {
      height: 100% !important;
      margin: 0;
      padding: 0;
    }

    .swal2-container {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 100vh !important;
    }
  </style>

  @if($slots.styles)
  {{{ await $slots.styles() }}}
  @endif

</head>

<body class="h-100 d-flex align-items-center">
  <div class="container">
    {{{ await $slots.auth() }}}
  </div>
  @include('auth/layout/footer')
  
  @if($slots.scripts)
  {{{ await $slots.scripts() }}}
  @endif

</body>

</html>
