<div class="col-12">
  @include('obat/tab/partials/obat/_alerts')
  @include('obat/tab/partials/obat/_search_form')
  @include('obat/tab/partials/obat/_table')
  @include('obat/tab/partials/obat/_pagination')
  @include('obat/tab/partials/obat/_modals')
</div>

@include('obat/tab/partials/obat/_script')
