@layout.app()
@slot('content')
<div class="container-fluid" style="margin-top: -1rem;">
  @include('pasien/partial/data-pasien/search-bar')

  <hr style="margin-top: -0.8rem;">

  {{-- Patient Cards --}}
  @include('pasien/partial/data-pasien/list')

  {{-- Add Patient Modal --}}
  <div class="modal fade" id="basicModal">
    @include('pasien/modal-tambah/tambah-pasien')
  </div>
</div>

@include('pasien/partial/data-pasien/scripts')
@end
@end
